<!DOCTYPE html>
<html lang="en">

<head>
  <title>INDI Web</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src="static/htmx.min.js"></script>
</head>

<body>
  <h1>INDI Web</h1>
  <div>
    <h2>Hardware</h2>
    <form hx-post="/indi/activate" hx-target="#indi_server">
      <label for="mount_select">
        Mount:
        <select id="mount" name="mount_select">
          <option value="" selected></option>
          {{- range $device := .DriversGroups.Telescopes }}
          <option value={{$device.DriverName}}>{{$device.Manufacturer}} - {{$device.Name}}</option>
          {{- end }}
        </select>
      </label>
      <br />
      <label for="camera_select">
        Camera:
        <select id="camera" name="camera_select">
          <option value="" selected></option>
          {{- range $device := .DriversGroups.CCDs }}
          <option value={{$device.DriverName}}>{{$device.Manufacturer}} - {{$device.Name}}</option>
          {{- end }}
        </select>
      </label>
      <br />
      <label for="guider_select">
        Camera:
        <select id="guider" name="guider_select">
          <option value="" selected></option>
          {{- range $device := .DriversGroups.CCDs }}
          <option value={{$device.DriverName}}>{{$device.Manufacturer}} - {{$device.Name}}</option>
          {{- end }}
        </select>
      </label>
      <br />
      <label for="indi_server">INDI Server:
        <button id="indi_server" type="submit">
          {{- if .Running}}
          Stop
          {{- else }}
          Start
          {{- end }}
        </button>
      </label>
    </form>
  </div>
</body>

</html>
