package components

templ Root() {
<!DOCTYPE html>
<html lang="en">

<head>
	<title>INDI Web</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="static/htmx.min.js"></script>
	<link rel="stylesheet" href="static/style.css" />
</head>

<body>
	{ children... }
</body>

</html>
}
