package components

import "strings"
import "github.com/adriffaud/indi-web/internal/indi-server"

templ Label(id, text string) {
	<label for={ id } class="text-right font-medium">{ text }</label>
}

templ Input(id, value string) {
	<input
		id={ id }
		value={ value }
		type="text"
		class="col-span-3 px-4 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 dark:focus:ring-gray-400"
	/>
}

templ Select(id string) {
	<select
		id={ id }
		name={ id }
		class="col-span-3 px-4 py-2 rounded-md border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 dark:focus:ring-gray-400"
	>
		{ children... }
	</select>
}

templ driverSelector(group string, drivers []indiserver.Device, selection indiserver.Device) {
	@Label(strings.ToLower(group)+"_select", group)
	@Select(strings.ToLower(group) + "_select") {
		<option value=""></option>
		for _, driver := range drivers {
			<option
				value={ driver.DriverName }
				if selection.DriverName==driver.DriverName &&
	selection.Manufacturer==driver.Manufacturer {
					selected
				}
			>
				{ driver.Manufacturer } - { driver.Name }
			</option>
		}
	}
}

templ Setup(driversGroups indiserver.DeviceGroups, devices map[string]indiserver.Device) {
	@Root() {
		<div class="flex justify-center items-center h-screen">
			<form
				method="post"
				class="bg-white dark:bg-gray-950 rounded-lg shadow-lg p-8 w-full max-w-4xl grid gap-8 md:grid-cols-2"
			>
				<div class="space-y-6">
					<div class="grid grid-cols-4 items-center gap-4">
						@Label("date-time", "Date/Time")
						@Input("date-time", "2023-11-01 20:45")
					</div>
				</div>
				<div class="space-y-6">
					<div class="grid grid-cols-4 items-center gap-4">
						@driverSelector("Mount", driversGroups["Telescopes"], devices["mount"])
					</div>
				</div>
				<div class="space-y-6">
					<div class="grid grid-cols-4 items-center gap-4">
						@Label("latitude", "Latitude")
						@Input("latitude", "N 47º 14' 25\"")
					</div>
				</div>
				<div class="space-y-6">
					<div class="grid grid-cols-4 items-center gap-4">
						@driverSelector("Camera", driversGroups["CCDs"], devices["ccd"])
					</div>
				</div>
				<div class="space-y-6">
					<div class="grid grid-cols-4 items-center gap-4">
						@Label("longitude", "Longitude")
						@Input("longitude", "E 05º 55' 57\"")
					</div>
				</div>
				<div class="space-y-6">
					<div class="grid grid-cols-4 items-center gap-4">
						@driverSelector("Guider", driversGroups["CCDs"], devices["guide"])
					</div>
				</div>
				<div class="col-span-2 flex justify-center">
					<button
						id="indi_server"
						type="submit"
						class="bg-gray-900 hover:bg-gray-800 text-white font-medium py-2 px-6 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 dark:bg-gray-50"
					>Start</button>
				</div>
			</form>
		</div>
	}
}
